
{{>menu-admin}}
<div class="container">
  <br>
<h2>Lista de Productos</h2>
<a href="register-product" class="btn btn-success">Agregar Producto</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock del Producto</th>
      <th scope="col">Descripcion del Producto</th>
    </tr>
  </thead>
  <tbody>
    {{#if list_product}}
    {{#each list_product}}
    <tr class="table-active">
      <th scope="row">{{id}}</th>
      <td>{{name_product}}</td>
      <td>{{precio_product}}</td>
      <td>{{stock_product}}</td>
      <td>{{description_simple_product}}</td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>
</div>
{{>footer}}