<br>
<div class="container">
    <h1 class="text-primary">🚑Citas o consultas por atender👩‍🔬</h1>
    <div class="table-responsive">
        <table class="table align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Servicio contratado</th>
                    <th scope="col">Precio del servicio</th>
                    <th scope="col">Persona responsable</th>
                    <th scope="col">Identificacion(DNI)</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Atención</th>
                    <th scope="col">Acción</th>

                </tr>
            </thead>
            <tbody>
                {{#each citas}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <th>{{pet}}</th>
                    <td>{{product}}</td>
                    <td>{{precio}}</td>
                    <td>{{responsable}}</td>
                    <td>{{dni}}</td>
                    <td class="text-secondary"><strong>{{state}}</strong></td>
                    <td class="text-warning"><strong>{{atendido}}</strong></td>
                    <td><a class="btn btn-outline-success btn-rounded" href="/consultoria-vet/{{id}}">Atender</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div><br><br><br><br><br>
    <h3 class="text-primary">Citas Atendidas👩‍🔬</h3>
    <div class="table-responsive">
        <table class="table align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Servicio contratado</th>
                    <th scope="col">Precio del servicio</th>
                    <th scope="col">Persona responsable</th>
                    <th scope="col">Identificacion(DNI)</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Atención</th>
                    <th scope="col">Acción</th>

                </tr>
            </thead>
            <tbody>
                {{#each atendidas}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <th>{{pet}}</th>
                    <td>{{product}}</td>
                    <td>{{precio}}</td>
                    <td>{{responsable}}</td>
                    <td>{{dni}}</td>
                    <td class="text-secondary"><strong>{{state}}</strong></td>
                    <td class="text-warning"><strong>{{atendido}}</strong></td>
                    <td><a class="btn btn-outline-success btn-rounded" href="/consultoria-vet-detalle/{{id}}">Ver detalle</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div><br><br><br><br>