<div class="container">
    <h2>Mi lista de Mascotas</h2>
    <a class="btn btn-outline-success" href="/register-my-pets">Agregar otra mascosa</a>
    <br><br>
    <div class="row row-cols-2">

        {{#each pets}}
        <div id="card-pet-{{id}}" class="col">
            <div class="card mb-3">
                <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{img_location}}" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-header">{{race}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">
                            Nacio en {{birthdata}}.Some quick example text to build on the card title and make up the
                            bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            {{img_key}}
                        </p>
                        <button class="btn btn-outline-warning btn-rounded   btn-sm" data-mdb-ripple-color="#000000">
                            Actualizar
                        </button>
                        <button onclick="deletePet('{{id}}','{{name}}','{{img_key}}')"
                            class="btn btn-outline-danger btn-rounded   btn-sm" data-mdb-ripple-color="#000000">
                            Eliminar
                        </button>
                    </div>
                    <div class="card-footer">Hace un minuto</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>