<br>
<div class="container">
    <h3 class="text-center text-primary">¡Encuentra los productos necesarios para tener una mascota feliz!</h3>
    <div class="row row-cols-1 row-cols-sm-6 g-3">
        {{#if client}}
        {{#each products}}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title text-primary">{{name}}</h6>
              <p class="card-subtitle mb-2 text-muted">{{description_simple}}</p>
              <p class="card-text">Stock: {{stock}} unidades</p>
              <img src="/images/{{img_key}}" class="img-fluid mb-3" alt="card-img-bottom">
              <a class="text-muted card-link">price: {{precio}}</a>
              <button class="card-link btn btn-success" onclick="addtoCart('{{id}}','{{precio}}','{{name}}')">
                add</button>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        {{#each products}}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title text-primary">{{name}}</h6>
              <p class="card-subtitle mb-2 text-muted">{{description_simple}}</p>
              <p class="card-text">Stock: {{stock}} unidades</p>
              <img src="/images/{{img_key}}" class="img-fluid mb-3" alt="card-img-bottom">
              <a class="text-muted card-link">price: {{precio}}</a>
              <button class="card-link btn btn-success">
                add</button>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div><br><br><br><br><br><br>