<div class="container">
    <br>
    <div class="d-flex justify-content-between bd-highlight mb-2">
        <h2>Shopping Cart</h2>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Cantidad</th>
                    {{!-- <th scope="col">Modificar cantidad</th> --}}
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each details}}
                <tr id="item-cart-{{productId}}-{{ticketId}}">
                    <th scope="row">1</th>
                    <th>{{name}}</th>
                    <td>{{discount}}</td>
                    <td>{{price}}</td>
                    <td>{{subtotal}}</td>
                    <td>
                        <div class="form-outline">
                            <input type="number" id="typeNumber" class="form-control" value="{{quantity}}" min="1"
                                max="100" />
                        </div>
                    </td>
                    {{!-- <td>
                        <button type="button"
                            onclick="updateItemQuantityCart('{{ticketId}}','{{productId}}','{{name}}')"
                            class="btn btn-outline-primary btn-rounded   btn-sm" data-mdb-ripple-color="#000000">
                            Modificar <i class="fas fa-download ms-1"></i></button>
                    </td> --}}
                    <td>
                        <button type="button" onclick="dropItemCart('{{ticketId}}','{{productId}}')"
                            class="btn btn-outline-danger btn-rounded   btn-sm" data-mdb-ripple-color="#000000">
                            Eliminar <i class="fas fa-download ms-1"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end row-cols-3">
        <div class="col">
            <a  class="btn btn-outline-success btn-rounded btn-lg"
                data-mdb-ripple-color="#000000" href="pasarela-product"> Comprar
                <i class="fas fa-download ms-1"></i></a>
            {{!-- <button type="button" onclick="dropAllCart()" class="btn btn-outline-danger btn-rounded   btn-lg"
                data-mdb-ripple-color="#000000"> Vaciar carrito <i class="fas fa-download ms-1"></i></button> --}}
        </div>

    </div>
</div>