<br>
<div class="container ">
    <div class="row row-cols-2 justify-content-center">
        {{#each vet}}
        <div class="col">
            <h1 class="text-primary text-center">Actulizar de Servicio</h1>
            <form action="/update-vet/{{id}}" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="form-outline">
                            <input type="text" id="typeText" class="form-control" name="name" value="{{name}}" required
                                minlength="3" maxlength="30" />
                            <label class="form-label" for="typeText">Nombre del Servicio</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="number" id="typeNumber" class="form-control" name="precio" value="{{precio}}"
                                required />
                            <label class="form-label" for="typeNumber">Precio del Servicio</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" id="typeText" class="form-control" name="description_simple"
                                value="{{description_simple}}" required minlength="10" maxlength="50" />
                            <label class="form-label" for="typeText">Descripción del Servicio</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="4" name="description_html"
                                required>{{description_html}}</textarea>
                            <label class="form-label" for="textAreaExample">Descripción</label>
                        </div>
                        <br>
                        <div class="ms-1 form-check">
                            <input class="form-check-input" type="checkbox" value="" id="formCheckChecked" checked="">
                            <label class="form-check-label" for="formCheckChecked">Aceptas que usemos tu información
                                para venderla a Facebook.</label>
                        </div>
                        <br><br>
                        <center><button type="submit" class="btn btn-lg  btn-outline-primary">Completed</button>
                        </center>
                    </div>

                </div>
            </form>
        </div>
        {{/each}}
    </div>
</div><br><br><br><br>